name: Python CI Build and Test

on:
  push:
    branches:
      - main
  # Қолмен іске қосуға мүмкіндік беру (қажет емес, бірақ пайдалы)
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip' # Жылдамдату үшін кэштеуді қосамыз
        
    - name: Install Dependencies
      # pip тәуелділіктерін орнату
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Run Pytest Tests
      # Тесттерді іске қосу
      run: pytest
